---
import Button from '../components/Button.astro';
---

<div class="flex justify-between items-center">
    <div class="flex gap-1 p-2" x-data="{ isEnabled: false }">
        <Button className="mr-5" @click="isEnabled = !isEnabled">
            Select all
        </Button>
        <div :class="isEnabled ? 'block' : 'hidden'">sss</div>
        <Button disabled={true}>
            Clone to drafts
        </Button>
        <Button disabled={true}>
            Move to Archive
        </Button>
        <Button disabled={true} className="mr-5">
            Delete
        </Button>
        <Button disabled={true}>
            Run a report
        </Button>
        <Button disabled={true}>
            Export to CSV
        </Button>
    </div>
    <ol class="flex gap-4 p-2">
        <li>1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
        <li>5</li>
        <li>6</li>
    </ol>
</div>